.av-label{
		color: #495057;
		box-sizing: border-box;
		margin-left: 15px;
}
.av-item{
	padding: 5px;
}
.av-item-selected{
	font-weight: bold;
	color: #de0108;
}
.av-item-cursor{
	cursor: pointer;
}
