<p-card>
  <p-table #dt styleClass="p-datatable-sm p-datatable-responsive-demo" [value]="externalUsers" [lazy]="true"
    (onLazyLoad)="loadExternalUsers($event)" [totalRecords]="totalRecords" [rows]="10" [paginator]="true"
    [(selection)]="selectedExternalUsers" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Mostrar {first} a {last} de {{ totalRecords }} registros" [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 25, 50]" [autoLayout]="true">
    <ng-template pTemplate="caption">
      <p-accordion>
        <p-accordionTab header="Filter">
          <div class="p-fluid p-formgrid p-grid">
            <div class="p-col-4">
              <av-input-text [label]="'module.externalUser.firstName'|translate" [(ngModel)]="externalUserFind.firstName">
              </av-input-text>
            </div>
            <div class="p-col-4">
              <av-input-text [label]="'module.externalUser.companyName'|translate"
                [(ngModel)]="externalUserFind.companyName">
              </av-input-text>
            </div>
            <div class="p-col-4">
              <av-company-type label="{{'module.externalUser.companyType' | translate}}"
                [(ngModel)]="externalUserFind.companyTypeId">
              </av-company-type>
            </div>
            <div class="p-col-4">
              <div class="p-fluid p-p-2">
                <p-dropdown appendTo="body" [options]="countries" filter="true" [(ngModel)]="externalUserFind.countryId"
                  (onChange)="onChangeCountry(1)">
                  <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                  </ng-template>
                  <ng-template let-opt pTemplate="item">
                    <div>
                      <div> {{opt.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="p-col-4">
              <div class="p-fluid p-p-2">
                <p-dropdown appendTo="body" [options]="statesFind" filter="true" [(ngModel)]="externalUserFind.stateId"
                  (onChange)="onChangeState(1)">
                  <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                  </ng-template>
                  <ng-template let-opt pTemplate="item">
                    <div>
                      <div> {{opt.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="p-col-4">
              <div class="p-fluid p-p-2">
                <p-dropdown appendTo="body" [options]="citiesFind" filter="true" [(ngModel)]="externalUserFind.cityId">
                  <ng-template let-item pTemplate="selectedItem">
                    <span>{{item.label}}</span>
                  </ng-template>
                  <ng-template let-opt pTemplate="item">
                    <div>
                      <div> {{opt.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
            <div class="p-col-4">
              <av-input-text [label]="'module.externalUser.email'|translate" [(ngModel)]="externalUserFind.email">
              </av-input-text>
            </div>
            <div class="p-col-4">
              <av-button [label]="'module.componentNames.btnFilter' | translate" icon="pi pi-search" class="p-button-text"
                (click)="getPaginationAndFilter()"></av-button>
            </div>
          </div>
        </p-accordionTab>
      </p-accordion>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <div class="p-fluid p-p-2">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </div>
        </th>
        <th pSortableColumn="firstName">
          <div class="p-fluid p-p-2">
            {{ "module.externalUser.firstName" | translate }}
            <p-sortIcon field="firstName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="companyName">
          <div class="p-fluid p-p-2">
            {{ "module.externalUser.companyName" | translate }}
            <p-sortIcon field="companyName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="companyType">
          <div class="p-fluid p-p-2">
            {{ "module.externalUser.companyType" | translate }}
            <p-sortIcon field="companyType"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="CountryName">
          <div class="p-fluid p-p-2">
            {{ "module.externalUser.countryId" | translate }}
            <p-sortIcon field="CountryName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="stateName">
          <div class="p-fluid p-p-2">
            {{ "module.externalUser.stateId" | translate }}
            <p-sortIcon field="stateName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="CityName">
          <div class="p-fluid p-p-2">
            {{ "module.externalUser.cityId" | translate }}
            <p-sortIcon field="CityName"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="email">
          <div class="p-fluid p-p-2">
            {{ "module.externalUser.email" | translate }}
            <p-sortIcon field="email"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="status">
          <div class="p-fluid p-p-2">
            {{ "module.externalUser.status" | translate }}
            <p-sortIcon field="status"></p-sortIcon>
          </div>
        </th>
        <th style="width: 8rem"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-externalUser>
      <tr [pEditableRow]="externalUser">
        <td>
          <div class="p-fluid p-p-2">
            <p-tableCheckbox [value]="externalUser"></p-tableCheckbox>
          </div>
        </td>
        <td pEditableColumn>
          <div class="p-fluid p-p-2">
            {{ externalUser.firstName }}
          </div>
        </td>
        <td pEditableColumn>
          <div class="p-fluid p-p-2">
            {{ externalUser.companyName }}
          </div>
        </td>
        <td pEditableColumn>
          <div class="p-fluid p-p-2">
            {{ externalUser.companyTypeDesc }}
          </div>
        </td>
        <td pEditableColumn>
          <div class="p-fluid p-p-2">
            {{ externalUser.countryDescription }}
          </div>
        </td>
        <td pEditableColumn>
          <div class="p-fluid p-p-2">
            {{ externalUser.stateDescription }}
          </div>
        </td>
        <td pEditableColumn>
          <div class="p-fluid p-p-2">
            {{ externalUser.cityDescription }}
          </div>
        </td>
        <td pEditableColumn>
          <div class="p-fluid p-p-2">
            {{ externalUser.email }}
          </div>
        </td>
        <td pEditableColumn>
          <div *ngIf="externalUser.externalUserApproval == null">
            Pending
          </div>
          <div *ngIf="externalUser.externalUserApproval != null">
            Rejected
          </div>
        </td>
        <td style="text-align: center">
          <av-button [label]="'module.externalUser.btnDetail'" icon="pi pi-pencil" class="p-button-text"
            (click)="editMember(externalUser)">
          </av-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>

<p-dialog [(visible)]="externalUserDialog" [style]="{ width: '800px' }"
  [header]="'module.externalUser.approvalTitle' | translate" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form id="externalUserForm" [formGroup]="externalUserForm"
      class="form-horizontal ng-untouched ng-pristine ng-valid">
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-p-2 p-col-4">
          <av-input-text label="{{'module.externalUser.firstName' | translate}}" formControlName="firstName"
            [(ngModel)]="externalUser.firstName">
          </av-input-text>
          <small class="p-p-2 p-invalid" *ngIf="submitted && !externalUser.firstName">
            {{"module.externalUser.validation.firstNameRequired" | translate}}
          </small>
        </div>
        <div class="p-p-2 p-col-4">
          <av-input-text label="{{'module.externalUser.lastName' | translate}}" formControlName="lastName"
            [(ngModel)]="externalUser.lastName">
          </av-input-text>
          <small class="p-p-2 p-invalid" *ngIf="submitted && !externalUser.lastName">
            {{"module.externalUser.validation.lastNameRequired" | translate}}
          </small>
        </div>
        <div class="p-p-2 p-col-4">
          <av-input-text label="{{'module.externalUser.email' | translate}}" formControlName="email"
            [(ngModel)]="externalUser.email">
          </av-input-text>
          <div *ngIf="submitted && f.email.errors" class="p-invalid">
            <div *ngIf="f.email.errors.required" class="p-p-2">
              {{"module.externalUser.validation.emailRequired" | translate}}
            </div>
          </div>
          <div *ngIf="submitted && f.email.errors" class="p-invalid">
            <div *ngIf="f.email.errors.email" class="p-p-2">
              {{"module.externalUser.validation.emailinvalid" | translate}}
            </div>
          </div>
        </div>
        <div class="p-p-2 p-col-4">
          <div class="p-p-2">
            <span class="p-float-label">
              <p-dropdown formControlName="countryId" [options]="countries" filter="true"
                [(ngModel)]="externalUser.countryId" (onChange)="onChangeCountry(2)">
                <ng-template let-item pTemplate="selectedItem">
                  <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-opt pTemplate="item">
                  <div>
                    <div> {{opt.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <label for="field-id">{{ "module.externalUser.countryId" | translate }}</label>
            </span>
          </div>
          <small class="p-p-2 p-invalid" *ngIf="submitted && !externalUser.countryId">
            {{"module.externalUser.validation.countryIdRequired" | translate}}
          </small>
        </div>
        <div class="p-p-2 p-col-4">
          <div class="p-p-2">
            <span class="p-float-label">
              <p-dropdown formControlName="stateId" [options]="states" filter="true" [(ngModel)]="externalUser.stateId"
                (onChange)="onChangeState(2)">
                <ng-template let-item pTemplate="selectedItem">
                  <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-opt pTemplate="item">
                  <div>
                    <div> {{opt.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <label for="field-id">{{ "module.externalUser.stateId" | translate }}</label>
            </span>
          </div>
        </div>
        <div class="p-p-2 p-col-4">
          <div class="p-p-2">
            <span class="p-float-label">
              <p-dropdown formControlName="cityId" [options]="cities" filter="true" [(ngModel)]="externalUser.cityId">
                <ng-template let-item pTemplate="selectedItem">
                  <span>{{item.label}}</span>
                </ng-template>
                <ng-template let-opt pTemplate="item">
                  <div>
                    <div> {{opt.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
              <label for="field-id">{{ "module.externalUser.cityId" | translate }}</label>
            </span>
          </div>
        </div>
        <div class="p-p-2 p-col-6">
          <av-input-text label="{{'module.externalUser.companyName' | translate}}" formControlName="companyName"
            [(ngModel)]="externalUser.companyName">
          </av-input-text>
          <small class="p-p-2 p-invalid" *ngIf="submitted && !externalUser.companyName">
            {{"module.externalUser.validation.companyNameRequired" | translate}}
          </small>
        </div>
        <div class="p-p-2 p-col-6">
          <av-company-type label="{{'module.externalUser.companyType' | translate}}" formControlName="companyTypeId"
            [(ngModel)]="externalUser.companyTypeId">
          </av-company-type>
          <small class="p-p-2 p-invalid" *ngIf="submitted && !externalUser.companyTypeId">
            {{"module.externalUser.validation.companyTypeRequired" | translate}}
          </small>
        </div>
        <div class="p-p-2 p-col-6">
          <av-input-text label="{{'module.externalUser.iataCode' | translate}}" formControlName="iataCode"
            [(ngModel)]="externalUser.iataCode">
          </av-input-text>
        </div>
        <div class="p-p-2 p-col-6">
          <av-input-text label="{{'module.externalUser.cassCode' | translate}}" formControlName="cassCode"
            [(ngModel)]="externalUser.cassCode">
          </av-input-text>
        </div>
        <div class="p-p-2 p-col-5">
          <av-input-text label="{{'module.externalUser.address' | translate}}" formControlName="address"
            [(ngModel)]="externalUser.address">
          </av-input-text>
        </div>
        <div class="p-p-2 p-col-3">
          <av-input-number label="{{'module.externalUser.postalCode' | translate}}" formControlName="postalCode"
            [(ngModel)]="externalUser.postalCode">
          </av-input-number>
        </div>
        <div class="p-p-2 p-col-4">
          <av-input-number label="{{'module.externalUser.phoneNumber' | translate}}" formControlName="phoneNumber"
            [(ngModel)]="externalUser.phoneNumber">
          </av-input-number>
        </div>
        <div class="p-p-2 p-col-6">
          <av-input-text label="{{'module.externalUser.mobileNumber' | translate}}" formControlName="mobileNumber"
            [(ngModel)]="externalUser.mobileNumber">
          </av-input-text>
        </div>
        <div class="p-p-2 p-col-6">
          <av-input-text label="{{'module.externalUser.fax' | translate}}" formControlName="fax"
            [(ngModel)]="externalUser.fax">
          </av-input-text>
        </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <av-button *ngIf="externalUser.externalUserApproval == null" [label]="'module.componentNames.btnReject' | translate" icon="pi pi-times" class="p-button-text"
      (click)="approval(false)"></av-button>
    <av-button [label]="'module.componentNames.btnApprove' | translate" icon="pi pi-save" class="p-button-text"
      (click)="approval(true)">
    </av-button>
  </ng-template>
</p-dialog>

<p-toast baseZIndex="10000"></p-toast>

<p-confirmDialog [style]="{ width: '450px' }" [acceptLabel]="'module.externalUser.btnAccept' | translate"
  [rejectLabel]="'module.externalUser.btnCancel' | translate"></p-confirmDialog>

<p-blockUI [blocked]="loading">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>
