<!-- <div class="p-p-2">
	<span class="p-float-label">
		<p-dropdown appendTo="body" [options]="options" [(ngModel)]="selectionStation" [filter]="filter" [disabled]="disabled" (onChange)="onChange()">
			<ng-template let-item pTemplate="selectedItem">
				<span>{{item.label}}</span>
			</ng-template>
			<ng-template let-opt pTemplate="item">
				<div>
					<div> {{opt.label}}</div>
				</div>
			</ng-template>
		</p-dropdown>
		<label for="field-id">{{label|translate}}</label>
	</span>
</div> -->
<div class="p-p-2">
	<span class="p-float-label">
		<p-autoComplete appendTo="body" [(ngModel)]="selectionStation" [suggestions]="options" field="label" dropdownIcon="pi pi-chevron-down"
			(completeMethod)="search($event)" [forceSelection]="true" minLength="2" (onSelect)="onSelect()"
			(onClear)="onClear()">
			<ng-template let-item pTemplate="selectedItem">
				<span>{{item.label}}</span>
			</ng-template>
		</p-autoComplete>
		<label for="field-id">{{label|translate}}</label>
	</span>
</div>