<form id="guideMasterConsigneeForm" [formGroup]="guideMasterConsigneeForm" class="form-horizontal ng-untouched ng-pristine ng-valid">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-p-2 p-col-4">
      <av-skychain formControlName="loadArrangement" [label]="'module.master.loadArrangement'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.loadArrangement.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.loadArrangement.errors">{{"module.master.validation.loadArrangementRequired" | translate}}</small>
      </div>
    </div>
    <div class="p-p-2 p-col-4">
      <av-skychain formControlName="customs" [label]="'module.master.customs'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.customs.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.customs.errors">{{"module.master.validation.customsRequired" | translate}}</small>
      </div>
    </div>
    <div class="p-p-2 p-col-4">
      <av-skychain formControlName="countryConsignee" [label]="'module.master.countryConsignee'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.countryConsignee.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.countryConsignee.errors">{{"module.master.validation.countryConsigneeRequired" | translate}}</small>
      </div>
    </div>
    <div class="p-p-2 p-col-8">
      <av-skychain formControlName="businessNameConsignee" [label]="'module.master.businessNameConsignee'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.businessNameConsignee.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.businessNameConsignee.errors">{{"module.master.validation.businessNameConsigneeRequired" | translate}}</small>
      </div>
    </div>
    <div class="p-p-2 p-col-4">
      <av-skychain formControlName="stateConsignee" [label]="'module.master.stateConsignee'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.stateConsignee.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.stateConsignee.errors">{{"module.master.validation.stateConsigneeRequired" | translate}}</small>
      </div>
    </div>
    <div class="p-p-2 p-col-4">
      <av-skychain formControlName="documentTypeConsignee" [label]="'module.master.documentTypeConsignee'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.documentTypeConsignee.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.documentTypeConsignee.errors">{{"module.master.validation.documentTypeConsigneeRequired" | translate}}</small>
      </div>
    </div>
    <div class="p-p-2 p-col-3">
      <av-input-number formControlName="documentNumberConsignee" [label]="'module.master.documentNumberConsignee' | translate" [ngClass]="{ 'p-invalid': submitted && f.documentNumberConsignee.errors }"></av-input-number>
        <div *ngIf="submitted && ! f.documentNumberConsignee.errors" class="p-p-2" style="min-width: 225px">
          <small class="p-invalid" *ngIf="submitted && !f.documentNumberConsignee.errors">{{"module.master.validation.documentNumberConsigneeRequired" | translate}}</small>
        </div>
    </div>
    <div class="p-p-2 p-col-1">
      <av-input-number formControlName="dv" [label]="'module.master.dv' | translate" [ngClass]="{ 'p-invalid': submitted && f.dv.errors }"></av-input-number>
        <div *ngIf="submitted && ! f.dv.errors" class="p-p-2" style="min-width: 225px">
          <small class="p-invalid" *ngIf="submitted && !f.dv.errors">{{"module.master.validation.dvRequired" | translate}}</small>
        </div>
    </div>
    <div class="p-p-2 p-col-4">
      <av-skychain formControlName="cityConsignee" [label]="'module.master.cityConsignee'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.cityConsignee.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.cityConsignee.errors">{{"module.master.validation.cityConsigneeRequired" | translate}}</small>
      </div>
    </div>
    <div class="p-p-2 p-col-7">
      <av-skychain formControlName="addressConsignee" [label]="'module.master.addressConsignee'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.addressConsignee.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.addressConsignee.errors">{{"module.master.validation.addressConsigneeRequired" | translate}}</small>
      </div>
    </div>
    <div class="p-p-2 p-col-5">
      <av-skychain formControlName="freeZone" [label]="'module.master.freeZone'|translate"></av-skychain>
      <div *ngIf="submitted && ! f.freeZone.errors" class="p-p-2" style="min-width: 225px">
        <small class="p-invalid"
          *ngIf="submitted && !f.freeZone.errors">{{"module.master.validation.freeZoneRequired" | translate}}</small>
      </div>
    </div>
  </div>
</form>
