// Variable overrides
$navbar-brand-bg:#ed1b24;
$navbar-color:#ffffff;
$navbar-bg:#ed1b24;
$sidebar-bg:#ffffff;
$sidebar-color:#ed1b24;
$sidebar-nav-link-icon-color:#ed1b24;
$sidebar-nav-link-color:#ed1b24;
$sidebar-nav-title-color:#ed1b24;
$sidebar-nav-link-active-icon-color:#ffffff;
$sidebar-nav-link-active-bg:#ed1b24;
$sidebar-minimizer-bg:#ed1b24;
$sidebar-nav-link-hover-color:#ffffff !important;
$sidebar-nav-link-hover-bg:#ed1b24;
$sidebar-minimizer-hover-bg:#ed1b24;
$sidebar-minimizer-hover-indicator:#ffffff;
